$side : #AD1457 !important;
$border : #880E4F !important;
body{
  background: #eee;
  font-family: 'Nunito SemiBold';
}

.btn-main{
  background-color: $side;
  border : $border;
  color: #fff !important;
}
.bg-main{
  background-color: $side;
  border : $border;
  color: #fff !important;
}

ul li{
  cursor: pointer;
}

.side-stick{
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  top: 5vh;
  right: 2px;
}